@import "reset.css";
@import "utils.css";
@import "fonts.css";

@import "frame.css";

:root {
    --color-bg: #000000;
    --color-surface: #0E0E0E;
    --color-surface-alt: #1F1F1F;
    --color-text: #EFEFEF;
    --color-text-muted: #6F6F6F;
    --color-border: #2F2F2F;
    --color-accent: #FF4F00;
    --color-accent-lighten: #FF8B68;
    --color-accent-darken: #5F240A;
    --color-secondary: #008AFF;
    --color-tertiary: #15FF00;

    --font: 'Space Grotesk', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-mono: 'Space Mono', Consolas, monospace;

    --space: 4px;

    text-rendering: optimizeLegibility;
    color-scheme: dark;
}

#starfield {
    position: fixed;
    inset: 0;
    display: block;
    z-index: 0;
}

/* Container */
.container {
    position: fixed;
    inset: 0;

    animation: 250ms ease-in container-appear;
}

@keyframes container-appear {
    0% {
        transform: scale(95%);
    }
    100% {
        transform: scale(100%);
    }
}

.controls {
    position: fixed;
    top: 25vh;
    max-height: calc(75vh - (var(--space) * 5));
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 650px;
    padding-inline: calc(var(--space) * 3);

    display: flex;
    flex-direction: column;

    &.warp {
        opacity: 0;
        transform: translateX(-50%) translateY(-130px);
        transition: opacity 0.5s ease, transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    }
}

main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: calc(var(--space) * 2);
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 0 6px var(--color-accent);

    h1 {
        margin-inline: calc(var(--space) * 2);
        animation: 250ms ease-in forwards header-popup;
    }

    .decoration {
        color: var(--color-text);
        user-select: none;
        margin-top: -3px;

        opacity: 0;
        animation: 100ms ease-in forwards header-deco-appear;
        animation-delay: calc(120ms + (7 - var(--deco-i, 0)) * 50ms);
    }
}

@keyframes header-popup {
    0% {
        color: var(--color-text-muted);
        transform: translateY(10%);
    }
    100% {
        color: var(--color-text);
        transform: translateY(0);
    }
}

@keyframes header-deco-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: calc(0.05 + var(--deco-i, 0) * 0.1);
    }
}

/* Search */
.search-wrapper {
    background: var(--color-surface-alt);
    border: var(--color-border) 2px solid;
    padding: calc(var(--space) * 1);
    color: var(--color-text-muted);
    transition: border-color 0.15s, box-shadow 0.15s, color 0.15s;

    .search-container {
        background: var(--color-surface);
        border: var(--color-border) 2px solid;
        display: flex;
        align-items: center;

        .icon {
            display: inline;
            margin-inline-start: calc(var(--space) * 2);
        }

        input {
            width: 100%;
            color: var(--color-text);

            padding-inline: calc(var(--space) * 2);
            padding-block: calc(var(--space) * 2);

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: var(--color-text-muted);
            }
        }
    }

    &:focus-within {
        border-color: var(--color-accent);
        box-shadow: 0 0 3px 3px color-mix(in srgb, var(--color-accent) 15%, transparent);

        .icon {
            color: var(--color-accent);
        }
    }
}

/* Results */
.search-results {
    padding-block: calc(var(--space) * 4);
    display: flex;
    flex-direction: column;
    gap: calc(var(--space) * 3);
    overflow-y: auto;
    scrollbar-width: none;
    mask-image: linear-gradient(to bottom,
        transparent 0%,
        black calc(var(--space) * 4),
        black calc(100% - var(--space) * 4),
        transparent 100%
    );

    .search-result-wrapper {
        position: relative;
        border: 2px solid var(--color-border);
        background: var(--color-surface-alt);

        &.selected .search-result .indicator {
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: repeating-linear-gradient(
                        -45deg,
                        transparent,
                        transparent 12px,
                        var(--color-accent-lighten) 2px,
                        var(--color-accent-lighten) 16px
                );
                opacity: 75%;
            }

            border-color: var(--color-accent-darken);
            box-shadow: 0 0 22px color-mix(in srgb, var(--color-accent) 75%, transparent);
            background: linear-gradient(var(--color-accent) 0%, #ff783c 35%, #ff783c 65%, var(--color-accent) 100%);

            .indicator-label {
                color: var(--color-text);
                text-shadow: 0 0 3px var(--color-text);
            }
        }

        .search-result {
            &:focus {
                outline: none;
            }

            display: grid;
            grid-template-columns: 42px auto;
            padding: calc(var(--space) * 1);

            .indicator {
                position: relative;
                border: 2px solid var(--color-border);
                background: repeating-linear-gradient(
                        -45deg,
                        var(--color-surface),
                        var(--color-surface) 12px,
                        var(--color-surface-alt) 2px,
                        var(--color-surface-alt) 16px
                );
                transition: all 150ms ease-in;

                .indicator-label {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;
                    font-weight: 500;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    color: var(--color-text-muted);
                    user-select: none;

                    transition: all 150ms ease-in;
                }
            }

            .search-result-content {
                background: var(--color-surface);
                border: 2px solid var(--color-border);
                margin-inline-start: calc(var(--space) * 1);
                padding-block: calc(var(--space) * 2);
                padding-inline: calc(var(--space) * 3);

                .top {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    letter-spacing: 0.05rem;

                    .id {
                        color: var(--color-accent-lighten);
                    }

                    .host {
                        color: var(--color-text-muted);
                    }
                }

                .title {
                    font-size: 1.4rem;
                    font-weight: 600;
                    letter-spacing: 0.08rem;
                }

                hr {
                    border-color: var(--color-surface-alt);
                    margin-block-start: calc(var(--space) * 2);
                    margin-block-end: calc(var(--space) * 1);
                }

                .target {
                    font-size: 0.8rem;
                    color: var(--color-text-muted);
                    font-family: var(--font-mono), monospace;
                }
            }
        }
    }
}