.wip-glass {
    border-width: .5px;
    border-color: #fffef933;
    border-radius: 80px;
    background-color: #06091899;
    backdrop-filter: blur(8px);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(255, 254, 249, 0.3) 0 1px 1px 0 inset;
}